* {
    margin: 0;
    padding: 0;
}

.top {
    padding-bottom: 59px;
}

.header__menu {
    margin-top: 73px;
    margin-bottom: 94.71;
}

.header {
    padding-top: 67px;
    padding-bottom: 89px;
}

.top__content {
    margin-top: 184.71px;
    margin-bottom: 149.45px;
}

.title__image {
    margin-top: 89px;
    margin-bottom: 17px;
}

.top__description {
    margin-bottom: 37px;
}

.top__buttons {
    margin-top: 52px;
}